

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	
}

.btn-block {
    display: inline-block;

}

.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    box-shadow: none;
    
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    box-shadow: none;
}

.btn-success {
    color: #fff;
    background-color: #28A745;
    border-color: #28A745;
    box-shadow: none;
}

.mar-10 {
	margin : 10px 0px;
}

.img-box {
	border: 1px solid black;
}
/* ******************************************** */

input:not(input[type=submit]) {
	width: 100%;
}

input[type=submit] {
	width: 100px;
}

#goList {
	width: 80px;
}

tr {
	border: 1px solid black;
}

td {
	padding: 10px;
	width: 1000px;
	text-align: center;
	border: 1px solid black;
}

td:nth-of-type(1) {
	width: 250px;
}

td:not([colspan]):first-child {
	background: white;
	color: black;
	font-weight: bold;
}

.licenseList {
	display: flex;
}

:root {
	--gap: 20px;
}

.container-ha {
	max-width: 1200px;
	margin: 50px auto;
}

.container-123 {
    float: left;
    width: 20%;
    padding: 10px 0px 20px 0px;
    border-radius: 4px;
    box-sizing: border-box; /* 컨테이너 크기에 패딩과 테두리를 포함시키도록 함 */
    min-height: 100vh;
}



.box {
	padding: var(--gap);
	display: flex;
	gap: var(--gap);
	min-height: 400px;
	flex-direction: row;
}

.box-contents {
    margin-left: 2%; /* 컨테이너 사이 간격 조정 */
    width: 78%; /* 나머지 공간을 차지하도록 너비 설정 */
    box-sizing: border-box; /* 컨텐츠의 패딩과 테두리를 너비에 포함시킴 */
    float : right;
    height : auto;
    border: 1px solid #808080;
}

/* 사이드바 css */

.secLnb .lnbGroup + .lnbGroup {
    border-top: 1px solid #eeeef0;
}

.secLnb {
    width: 190px;
    background: #fff;
    border: 1px solid #dce1eb;
    box-sizing: border-box;
}

section {
    display: block;
    unicode-bidi: isolate;
}

.secLnb .lnbGroup {
    padding: 15px 20px;
    font-size: 12px;
    letter-spacing: 0px;
    color: #666;
}

.lnbTit {
	font-size : 15px;
	letter-spacing: 0px;
	color: black;
	font-weight: bold;
}

.jh_resume_table {
    width: 100%; /* 표를 부모 요소에 꽉 차도록 설정 */
    border-collapse: collapse; /* 셀 간의 간격을 없애고 경계를 하나로 합칩니다 */
}

.jh_resume_table td {
    padding: 10px;
    text-align: left;
    border: 1px solid black;
    white-space: nowrap; /* 텍스트가 길어질 경우 줄 바꿈을 방지하여 가로로 표시되도록 함 */
    overflow: hidden; /* 넘치는 텍스트를 숨김 */
    text-overflow: ellipsis; /* 넘치는 텍스트가 숨겨진 경우 말줄임표로 대체 */
}
