<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.injob.comMypage.mapper.ComMypageMapper">


	<select id="selectPostList">

		SELECT
				PO.COM_ID,
				PO.PO_ID,
				PO.PO_GRADE,
				PO.HOPE_DEPARTMENT,
				PO.PO_START_DATE,
				PO.PO_END_DATE,
				PO.PO_PROFILE,
				PO.PO_TITLE,
				PO.PO_CONTENT,
				PO.CAREER

		FROM POSTING PO INNER JOIN COMPANY COM
		ON PO.COM_ID = COM.COM_ID

		WHERE PO.COM_ID = 1
		
		ORDER BY PO.PO_ID ASC

	</select>

	<select id="selectPostList2">

		SELECT
		RE.USER_ID,
		RE.RE_ID,
		RE.RE_PROFILE,
		RE.RE_TITLE,
		RE.RE_INTTI,
		RE.RE_INTCON,
		RE.LICENSE,
		RE.INDATE,
		UR.USER_NAME,
		UR.USER_SOCIAL_NUM,
		UR.USER_PHONE,
		UR.USER_EMAIL

		FROM POSTING PO INNER JOIN COMPANY COM
		ON PO.COM_ID = COM.COM_ID

		WHERE PO.PO_ID = #{ po_id }

	</select>

	<select id="selectPostList3">

		SELECT
		USER_NAME,
		USER_SOCIAL_NUM,
		USER_PHONE,
		USER_EMAIL

		FROM USERS

		WHERE USER_ID = #{ user_id }

	</select>
	
	<select id="selectHistory">

		SELECT
				AP.AP_ID,
				US.USER_NAME,
				RE.RE_TITLE,
				PO.PO_TITLE,
				PO.PO_END_DATE,
				AP.RESULT
				
		FROM COMPANY COM
		  JOIN POSTING PO ON COM.COM_ID = PO.COM_ID
		  JOIN APPLY AP ON PO.PO_ID = AP.PO_ID
		  JOIN RESUME RE ON AP.RE_ID = RE.RE_ID
		  JOIN USERS US ON RE.USER_ID = US.USER_ID

		WHERE PO.COM_ID = #{ com_id }
		
		ORDER BY AP.AP_ID ASC

	</select>

	<select id="selectResult">
	
			SELECT
				AP.AP_ID,
				AP.RE_ID,
				US.USER_NAME,
				RE.RE_TITLE,
				PO.PO_TITLE,
				PO.PO_END_DATE,
				AP.RESULT
				
		FROM COMPANY COM
		  JOIN POSTING PO ON COM.COM_ID = PO.COM_ID
		  JOIN APPLY AP ON PO.PO_ID = AP.PO_ID
		  JOIN RESUME RE ON AP.RE_ID = RE.RE_ID
		  JOIN USERS US ON RE.USER_ID = US.USER_ID

		WHERE PO.COM_ID = #{ com_id }
		  AND AP.AP_ID = #{ ap_id }
		
		ORDER BY AP.AP_ID ASC
	
	</select>
	
<!-- ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, -->

	<insert id="insertResume">

		INSERT INTO RESUME (
		USER_ID,
		RE_ID,
		RE_PROFILE,
		RE_TITLE,
		RE_INTTI,
		RE_INTCON,
		LICENSE
		)
		VALUES (
		#{ user_id },
		(SELECT NVL(MAX(RE_ID), 0) + 1 FROM RESUME),
		#{ re_profile },
		#{ re_title },
		#{ re_intti },
		#{ re_intcon },
		#{ license }
		)

	</insert>
	
	<insert id="insertApply">
	
	INSERT INTO APPLY	(
						PO_ID,
						RE_ID,
						AP_ID
						)
				VALUES	(
						1101,
						#{ re_id },
						(SELECT NVL(MAX(AP_ID), 0) + 1 FROM APPLY)
						)
						
	
	</insert>

<!-- ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, -->

	<update id="updatePost">

		UPDATE
		RESUME
		SET
		USER_ID = #{ user_id },
		RE_ID = #{ re_id },
		RE_PROFILE = #{ re_profile },
		RE_TITLE = #{ re_title },
		RE_INTTI = #{ re_intti },
		RE_INTCON = #{ re_intcon },
		LICENSE = #{ license }
		WHERE USER_ID = #{ user_id }
		AND RE_ID = #{ re_id }

	</update>
	
	<update id="updatePassResult">
	
	UPDATE  APPLY
	   SET  RESULT = '합격'
	 WHERE  AP_ID = #{ ap_id }
	   
	</update>
	
	<update id="updateFailResult">
	
	UPDATE  APPLY
	   SET  RESULT = '불합격'
	 WHERE  AP_ID = #{ ap_id }
	   
	</update>

<!-- ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, -->

	<delete id="deletePost">

		DELETE FROM POSTING
		WHERE COM_ID = #{ com_id }
		AND PO_ID = #{ po_id }

	</delete>

</mapper>

















