<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.injob.paging.MypagePagingMapper">


	<select id="count"
			parameterType="com.injob.mypage.domain.ResumeVo"
			resultType="int">

		SELECT COUNT(*) AS CNT
		FROM RESUME
		WHERE USER_ID = #{ user_id }

	</select>

	<select id="getResumePagingList" resultType="com.injob.mypage.domain.ResumeVo">
    SELECT
        RE_ID,
        RE_TITLE,
        LICENSE,
        TO_CHAR(INDATE, 'YYYY-MM-DD') AS INDATE
    FROM
        RESUME
	    <where>
	        <if test="arg0 != null">
	            AND RE_ID = #{arg0}
	        </if>
	        <if test="arg1 != null and arg1 != ''">
	            AND RE_TITLE LIKE '%' || #{arg1} || '%'
	        </if>
	    </where>
    ORDER BY RE_ID ASC
    OFFSET #{arg3} ROWS FETCH NEXT #{arg4} ROWS ONLY
</select>


</mapper>

















